flows/Remote_Trx_Texting_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send text to Customer</description>
        <name>Get_Customer_Text</name>
        <label>Get Customer Text</label>
        <locationX>846</locationX>
        <locationY>1012</locationY>
        <actionName>RemoteTrxTextUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Customer_Message_to_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>fromNumberId</name>
            <value>
                <elementReference>LiveTextMessageId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageName</name>
            <value>
                <stringValue>Remote Transaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionId</name>
            <value>
                <elementReference>RemoteTransaction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>msgBody</name>
            <value>
                <elementReference>TextMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>RecipientPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SMSMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Requester_Text</name>
        <label>Get Requester Text</label>
        <locationX>2060</locationX>
        <locationY>869</locationY>
        <actionName>RemoteTrxTextUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Requester_Message_to_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>fromNumberId</name>
            <value>
                <elementReference>LiveTextMessageId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageName</name>
            <value>
                <stringValue>Remote Transaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionId</name>
            <value>
                <elementReference>RemoteTransaction.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>msgBody</name>
            <value>
                <elementReference>TextMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>RecipientPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SMSMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Text to Customer when Customer Accepted the document and paid</description>
        <name>Accepted_Both_Request</name>
        <label>Accepted Both Request</label>
        <locationX>50</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerAcceptedBoth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Customer_Message_to_Collection</name>
        <label>Add Customer Message to Collection</label>
        <locationX>1146</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>SMSMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SMSMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Text_to_Recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Requester_Message_to_Collection</name>
        <label>Add Requester Message to Collection</label>
        <locationX>2060</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>SMSMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SMSMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_SMS_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Text to Requester when Customer makes payment</description>
        <name>Assign_Accepted_Payment</name>
        <label>Assign Accepted Payment</label>
        <locationX>2603</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestreAcceptedPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accepted_Text</name>
        <label>Assign Accepted Text</label>
        <locationX>1820</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterAcceptedText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Both_Accepted_Request_Type</name>
        <label>Assign Both Accepted Request Type</label>
        <locationX>2739</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterAcceptedBothText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Text to Customer for Both Document and Payment Request Type</description>
        <name>Assign_C2A_Both_Text_Message</name>
        <label>Assign C2A Both Text Message</label>
        <locationX>235</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerC2ABoth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create C2A text message to send to customer</description>
        <name>Assign_C2A_Text_Message</name>
        <label>Assign C2A Text Message</label>
        <locationX>998</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerC2AText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Change_Requested</name>
        <label>Assign Change Requested</label>
        <locationX>2059</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterChangeRequestText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Accept_Text</name>
        <label>Assign Customer Accept Text</label>
        <locationX>871</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerAcceptanceText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Change_Request_Text</name>
        <label>Assign Customer Change Request Text</label>
        <locationX>565</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerChangeRequestText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Number</name>
        <label>Assign Customer Number</label>
        <locationX>623</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>LiveTextMessageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LiveText_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoteTransaction.Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Transaction_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Send Paid confirmation text to Customer</description>
        <name>Assign_Paid_Text</name>
        <label>Assign Paid Text</label>
        <locationX>151</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerPaidText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Text to Customer of Payment request type</description>
        <name>Assign_Pay_Now_Text_Message</name>
        <label>Assign Pay Now Text Message</label>
        <locationX>647</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerPayNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reject_Text</name>
        <label>Assign Reject Text</label>
        <locationX>753</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerRejectText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reject_Text1</name>
        <label>Assign Reject Text</label>
        <locationX>1718</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterRejectText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requester_Number</name>
        <label>Assign Requester Number</label>
        <locationX>1544</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>LiveTextMessageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterLiveTextMessageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoteTransaction.Requester_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Transaction_Status1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Text to Requester when Customer has signed the document but hasn&apos;t paid yet</description>
        <name>Assign_Signed_Doc_pending_Pyt</name>
        <label>Assign Signed Doc pending Pyt</label>
        <locationX>2815</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterPendingPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Viewed_Text</name>
        <label>Assign Viewed Text</label>
        <locationX>2235</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterViewedText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Requester_Text</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to verify whether we can send text to the customer</description>
        <name>Verify_Text_To_Customer</name>
        <label>Verify Text To Customer</label>
        <locationX>1056</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>Verify_Text_to_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Text To Requester</defaultConnectorLabel>
        <rules>
            <name>Text_To_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.LiveText_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Customer_Text_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Phone_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LiveText_Number</targetReference>
            </connector>
            <label>Text To Customer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify whether text needs to be sent to requester</description>
        <name>Verify_Text_to_Recipient</name>
        <label>Verify Text to Recipient</label>
        <locationX>1279</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Save_SMS_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_To_Requester</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Receive_Text_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Requester_Phone_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requester_Number</targetReference>
            </connector>
            <label>Send To Requester</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify transaction status to send an appropriate text message to Customer</description>
        <name>Verify_Transaction_Status</name>
        <label>Verify Transaction Status</label>
        <locationX>792</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Verify_Text_to_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C2A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document for Signing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_C2A_Text_Message</targetReference>
            </connector>
            <label>C2A Document</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document for Signing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Accept_Text</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Rejected_Change_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Reject_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Still Interested, Change Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Change_Request_Text</targetReference>
            </connector>
            <label>Rejected - Change Requested</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Reject_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Longer Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reject_Text</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Pay_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Now_Text_Message</targetReference>
            </connector>
            <label>Pay Now</label>
        </rules>
        <rules>
            <name>C2A_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both Document and Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_C2A_Both_Text_Message</targetReference>
            </connector>
            <label>C2A Both</label>
        </rules>
        <rules>
            <name>Customer_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Paid_Text</targetReference>
            </connector>
            <label>Customer Paid</label>
        </rules>
        <rules>
            <name>Customer_Accepted_Both_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both Document and Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepted_Both_Request</targetReference>
            </connector>
            <label>Customer Accepted Both Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Transaction_Status1</name>
        <label>Verify Transaction Status</label>
        <locationX>2027</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Save_SMS_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Viewed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document for Signing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both Document and Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Viewed_Text</targetReference>
            </connector>
            <label>Viewed</label>
        </rules>
        <rules>
            <name>Accepted_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document for Signing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accepted_Text</targetReference>
            </connector>
            <label>Accepted Document</label>
        </rules>
        <rules>
            <name>Rejected_Change_Requested1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Reject_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Change_Requested</targetReference>
            </connector>
            <label>Rejected - Change Requested</label>
        </rules>
        <rules>
            <name>Rejected1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Reject_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reject_Text1</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Accepted_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accepted_Payment</targetReference>
            </connector>
            <label>Accepted Payment</label>
        </rules>
        <rules>
            <name>Accepted_Both_Request_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both Document and Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed Document and Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Both_Accepted_Request_Type</targetReference>
            </connector>
            <label>Accepted Both Request Type</label>
        </rules>
        <rules>
            <name>Accepted_Doc_pending_Pyt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoteTransaction.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both Document and Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoteTransaction.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed Document Pending Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Signed_Doc_pending_Pyt</targetReference>
            </connector>
            <label>Accepted Doc pending Pyt</label>
        </rules>
    </decisions>
    <description>Flow to send text communication to Customer and Requester</description>
    <formulas>
        <name>CustomerAcceptanceText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: You have successfully accepted the document!&quot;+ BR() +&quot;Check your email to access and download your accepted document(s).&quot;+ BR() +&quot;Thank you for doing business with the Home Depot!&quot;</expression>
    </formulas>
    <formulas>
        <description>Text to Customer when document is accepted and paid</description>
        <name>CustomerAcceptedBoth</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: You have successfully accepted the document(s) and submitted your payment!&quot;+ BR() +&quot;Check your email to access and download your accepted document(s).&quot;+ BR() +&quot;Thank you for doing business with the Home Depot!&quot;</expression>
    </formulas>
    <formulas>
        <description>Text to Customer to accept the documents and make payment</description>
        <name>CustomerC2ABoth</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: Please review and either sign or reject the document. After signing, you will be able to pay remotely. You can access your document using the following link: &quot;+ {!RemoteTransaction.Short_URL__c} +&quot;.&quot;+ BR() +&quot;If you have any questions, please call us at  &quot;+ {!RemoteTransaction.Contact_Phone__c} +&quot;.&quot;</expression>
    </formulas>
    <formulas>
        <description>Customer C2A text message</description>
        <name>CustomerC2AText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: Please review and either accept or reject the document. You can access your document using the following link: &quot;+ {!RemoteTransaction.Short_URL__c} +&quot;.&quot;+ BR() +&quot;If you have any questions, please call us at  &quot;+ {!RemoteTransaction.Contact_Phone__c} +&quot;.&quot;+ BR() +&quot;Thanks for choosing the Home Depot!&quot;</expression>
    </formulas>
    <formulas>
        <name>CustomerChangeRequestText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: You have successfully rejected the document.&quot;+ BR() +&quot;Check email to access and download your rejected document. We will be reaching out to you shortly to discuss the changes you would like to make to the document.&quot;+ BR() +&quot;Thank you for considering doing business with the Home Depot!&quot;</expression>
    </formulas>
    <formulas>
        <description>Text to Customer after successful payment</description>
        <name>CustomerPaidText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: You have successfully submitted your payment!&quot;+ BR() +&quot;Thank you for doing business with the Home Depot!&quot;</expression>
    </formulas>
    <formulas>
        <description>Text to Customer to access link and Pay</description>
        <name>CustomerPayNow</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: Please pay at your earliest convenience using the following link: &quot;+ {!RemoteTransaction.Short_URL__c} +&quot;.&quot;+ BR() +&quot;If you have any questions, please call us at  &quot;+ {!RemoteTransaction.Contact_Phone__c} +&quot;.&quot;+ BR() +&quot;Thanks for choosing the Home Depot!&quot;</expression>
    </formulas>
    <formulas>
        <name>CustomerRejectText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: You have successfully rejected the document.&quot;+ BR() +&quot;Check email to access and download your rejected document.&quot;+ BR() +&quot;We hope to partner with you in the future.&quot;</expression>
    </formulas>
    <formulas>
        <description>Text to Requester when Customer has accepted the document and made payment</description>
        <name>RequesterAcceptedBothText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+&quot; has successfully signed their document(s) and submitted their payment!&quot;+ BR() +&quot;Please follow up with the Customer to go over the next steps and what they can expect.&quot;+IF(ISBLANK({!RemoteTransaction.Phone_Number__c}), &quot;&quot;, &quot; You can reach the Customer at &quot;+{!RemoteTransaction.Phone_Number__c}+&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>RequesterAcceptedText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+&quot; has viewed and accepted the document!&quot;+ BR() +&quot;Please follow up with the Customer to go over the next steps and what they can expect.&quot;+IF(ISBLANK({!RemoteTransaction.Phone_Number__c}), &quot;&quot;, &quot; You can reach the Customer at &quot;+{!RemoteTransaction.Phone_Number__c}+&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>RequesterChangeRequestText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+&quot; has viewed and rejected the document, but has requested a change to be made.&quot;+ BR() +&quot;Please follow up with the Customer to review the changes they would like to make to the document.&quot;+IF(ISBLANK({!RemoteTransaction.Phone_Number__c}), &quot;&quot;, &quot; You can reach the Customer at &quot;+{!RemoteTransaction.Phone_Number__c}+&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>RequesterLiveTextMessageId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Remote_Trx_LiveTextMessageID}</expression>
    </formulas>
    <formulas>
        <description>Text to requester when Customer has accepted Document but hasn&apos;t paid yet</description>
        <name>RequesterPendingPayment</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+&quot; has successfully signed their document(s), and we are now just awaiting their payment.&quot;+ BR() +IF(ISBLANK({!RemoteTransaction.Phone_Number__c}), &quot;&quot;, &quot; You can reach the Customer at &quot;+{!RemoteTransaction.Phone_Number__c}+&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>RequesterRejectText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+&quot; has viewed and rejected the document.&quot;+ BR() +TEXT({!RemoteTransaction.Reject_Reason__c})</expression>
    </formulas>
    <formulas>
        <name>RequesterViewedText</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+ &quot; has viewed the document, and is now awaiting their acceptance or rejection.&quot;+IF(ISBLANK({!RemoteTransaction.Phone_Number__c}), &quot;&quot;, &quot; You can reach the Customer at &quot;+{!RemoteTransaction.Phone_Number__c}+&quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <description>Text to Requestor when Customer has made payment for Payment request type</description>
        <name>RequestreAcceptedPayment</name>
        <dataType>String</dataType>
        <expression>&quot;HOMEDEPOT: &quot;+{!RemoteTransaction.Customer_FullName__c}+&quot; has successfully submitted their payment!&quot;+ BR() +&quot;Please follow up with the Customer to go over the next steps and what they can expect.&quot;+IF(ISBLANK({!RemoteTransaction.Phone_Number__c}), &quot;&quot;, &quot; You can reach the Customer at &quot;+{!RemoteTransaction.Phone_Number__c}+&quot;.&quot;)</expression>
    </formulas>
    <interviewLabel>Remote Trx Texting flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remote Trx Texting flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_SMS_Messages</name>
        <label>Save SMS Messages</label>
        <locationX>1472</locationX>
        <locationY>1007</locationY>
        <inputReference>SMSMessages</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_LiveText_Number</name>
        <label>Get LiveText Number</label>
        <locationX>492</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Customer_Number</targetReference>
        </connector>
        <filters>
            <field>LiveText__Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RemoteTransaction.LiveText_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveText__LiveText_Number__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>1064</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Verify_Text_To_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Flag to determine whether to trigger text communication to Customer or Requester</description>
        <name>IsCustomerCommunication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LiveTextMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Remote Transaction record</description>
        <name>RemoteTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Remote_Transaction__c</objectType>
    </variables>
    <variables>
        <name>SMSMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveText__SMS_Message__c</objectType>
    </variables>
    <variables>
        <name>SMSMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveText__SMS_Message__c</objectType>
    </variables>
    <variables>
        <description>text message to be sent to the customer</description>
        <name>TextMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
